
body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#profileCard {
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s ease;
}


#profileCard img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #3498db;
}

#profileCard h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}

#profileCard p {
    color: #555;
    margin-bottom: 15px;
}


button {
    width: 90%;
    padding: 10px;
    margin: 6px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #3498db;
    color: white;
    font-size: 15px;
    transition: background 0.2s ease;
}

button:hover {
    background: #217dbb;
}

.active-status {
    background: #d5ffe1;
    border: 2px solid #27ae60;
    transform: scale(1.03);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}
